{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% trans_default_domain 'ResponsabilitesBundle' %}

{% block title %}{{ 'materiel.type.edit.title'|trans }} – {{ parent() }}{% endblock %}

{% block resp_body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h3>{{ 'materiel.type.edit.header'|trans({'%nom%': type.nom}) }}</h3>
			<div class="well">
				{% include 'ResponsabilitesBundle:Materiel:type_form.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
