{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% block title %}Éditer l'objet – {{ parent() }}{% endblock %}

{% block resp_body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h3>Éditer l'objet {{ objet.nom }}</h3>
			<div class="well">
				{% include 'ResponsabilitesBundle:Materiel:objet_form.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
