{% extends 'CoreBundle::layout.html.twig' %}

{% trans_default_domain 'error' %}

{% block body %}
	<div class="row alert alert-danger">
		<div class="col-sm-11 col-sm-offset-1">
			<h1>{{ 'html.titles.h1'|trans }}</h1>
			<h2>{{ 'html.titles.h2'|trans({'%code%': status_code}) }}</h2>
			<h3>{{ ('messages.' ~ status_code)|trans }}</h3>
			<p>
				{{ 'html.content'|trans({'%path%': path('contact')})|raw }}
			</p>
		</div>
	</div>
{% endblock %}
