{% extends 'ForumBundle::layout.html.twig' %}

{% trans_default_domain 'ForumBundle' %}

{% block forum_body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<ul class="list-group">
				{% for categorie in categories %}
					<a
						class="list-group-item"
						href="{{ path('forum_forum_view_categorie', {categorie: categorie.slug}) }}"
					>
						{{ categorie.title }}
					</a>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}

