/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/var/cache/*
/var/logs/*
/var/sessions/*
/vendor/
/web/bundles/
/Sensio/*
/web/bootstrap/docs/*
/src/CoreBundle/Files/*
Caravane.sublime-workspace
terminal.glue
/web/css/
/web/js/
