{% extends 'CoreBundle:Actus:layout.html.twig' %}

{% block actus_body %}
	<div class="row">
		<h4 class="col-lg-8 col-lg-offset-2">{{ 'actus.edit.header'|trans }}</h4>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<h4>{{ 'actus.edit.help.title'|trans }}</h4>
			<ul class="list-inline">
				{% for id in 0..2 %}
					<li>{{ ('actus.edit.help.list.' ~ id)|trans }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-lg-10 well">
			{% include "CoreBundle:Actus:form.html.twig" %}
		</div>
	</div>
{% endblock %}