{% extends 'CoreBundle::layout.html.twig' %}

{% block body %}
	<div class="row">
		<h3 class="col-lg-8 col-lg-offset-2">{{ 'actus.layout.header'|trans }}</h3>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{% block actus_body %}{% endblock actus_body %}
		</div>
	</div>
{% endblock %}