{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block fos_user_content %}
	<div class="row">
		{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'col-lg-8 col-lg-offset-2' } }) }}
		    {{ form_widget(form) }}
		    <div>
		        <input class="btn btn-danger btn-block btn-lg" type="submit" value="{{ 'change_password.submit'|trans }}" />
		    </div>
		{{ form_end(form) }}
	</div>
{% endblock fos_user_content %}
