{% extends "ResponsabilitesBundle:Intendance:layout.html.twig" %}

{% block title %}Édition – Menus – {{ parent() }}{% endblock %}

{% block intendance_body %}
<h3>Welcome to the Intendance:editMenu page</h3>
{% endblock %}
