{% extends "ResponsabilitesBundle:Intendance:layout.html.twig" %}

{% block intendance_body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				{# description de la responsabilité #}
			</p>
			<ul class="list-group">
				<a href="{{ path('responsabilite_intendance_view_all_menu') }}" class="list-group-item">Menus</a>
			</ul>
		</div>
	</div>
{% endblock %}
