{% extends "ResponsabilitesBundle::layout.html.twig" %}

{% block resp_body %}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Responsable Intendance</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				{# description de la responsabilité #}
				C'est toi qui veilles à l'alimentation de la caravane. Tu dois donc établir les menus, assurer le ravitaillement et veiller au bon entretien du matériel de cuisine. Tu es aussi responsable de la qualité : il n'y a pas qu'au moment du concours cuisine que la caravane mange bien !
			</p>
			<h5>Menus</h5>
			<p>
				Préparer des menus sains, variés, équilibrés et de qualité ! Connaître l'apport énergétique nécessaire à l'âge des poinniers et caravelles et proposer des menus adaptés selon les activités, les conditions climatiques, la possibilité de trouver des produits locaux et respetueux de l'environnement.
			</p>
			<h5>Approvisionnement</h5>
			<p>
				Se renseigner sur les fournisseurs proches du lieu de camp et sur leurs horaires pour bénéficier d'un bon rapport qualité/prix (attention au temps de trajet !).
			</p>
			<h5>Propreté et matériel</h5>
			<p>
				En lien avec le responsable matériel, préparer le matériel pour week-ends et camps et veiller à la propreté et au rangement avant et après utilisation.
			</p>
			<ul class="list-group">
				<a href="{{ path('responsabilite_intendance_view_all_menu') }}" class="list-group-item">Menus</a>
			</ul>
		</div>
	</div>
{% endblock %}
