{% extends "ResponsabilitesBundle:Intendance:layout.html.twig" %}

{% block title %}{{ menu.title }} — Menus – {{ parent() }}{% endblock %}

{% block body %}
<h1>Welcome to the Intendance:viewMenu page</h1>
{% endblock %}
