{% extends "ResponsabilitesBundle:Intendance:layout.html.twig" %}

{% block title %}Menus – {{ parent() }}{% endblock %}

{% block body %}
<h1>Welcome to the Intendance:viewAllMenu page</h1>
{% endblock %}
