html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 70px;
	/* Margin bottom by footer height +20px */
	margin-bottom: 120px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 100px;
	background-color: #e3e3e3;
}
.image {
	width: 100%;
	height: auto;
}
