{% for message in messages %}
	<li class="list-group-item">
		<span class="label {% if message.user.hasRole('ROLE_CHEF') %}label-warning{% elseif message.user.username == 'chatbot' %}label-success{% else %}label-info{% endif %}">{{ message.user.display }}</span>
		<span class="badge">{{ message.ilYA }}</span>
		{{ message.message|bbcode_filter('chat_filter') }}
	</li>
{% else %}
	<li class="list-group-item">
		<span class="label label-info">La Caravane</span>
		<span class="badge">0s</span>
		N'a pas encore utilisé son chat. Sois le premier à écrire un message.
	</li>
{% endfor %}