{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% block resp_body %}
	<div class="col-lg-8 col-lg-offset-2">
		<p>
			D'ici vous pouvez acceder aux pages spécifiques à chaque responsabilité
			<blockquote>
				Si tu veux réussir dans ta vie, sois capable de prendre des responsabilités.
				Pour cela, il faut avoir confiance en soi, connaître son travail et exercer sa responsabilité.
				<br>
				<span class="pull-right">Baden Powell</span>
			</blockquote>
		</p>
		<ul class="list-group">
			<a href="{{ path('responsabilites_animation_index') }}" class="list-group-item">
				Responsable Animation
			</a>
			<a href="{{ path('responsabilites_intendance_index') }}" class="list-group-item">
				Responsable Intendance
			</a>
			<a href="{{ path('responsabilites_materiel_index') }}" class="list-group-item">
				Responsable Matériel
			</a>
		</ul>
	</div>
{% endblock %}
