{% extends 'CoreBundle::layout.html.twig' %}

{% trans_default_domain 'ResponsabilitesBundle' %}

{% block title %}{{ 'layout.title'|trans }} ‒ {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ 'layout.header'|trans }}</h2>
	{% block resp_body %}{% endblock resp_body %}
{% endblock %}
