{% extends 'CoreBundle::layout.html.twig' %}

{% block title %}Responsabilités ‒ {{ parent () }}{% endblock %}

{% block body %}
	<h2>Responsabilités</h2>
	{% block resp_body %}{% endblock resp_body %}
{% endblock %}
