{% extends "CoreBundle:Index:layout.html.twig" %}

{% block title %}{{ 'index.contact.title'|trans }} – {{ parent() }}{% endblock %}

{% block index_body %}
<h1>{{ 'index.contact.header'|trans }}</h1>
{{ form(form) }}
{% endblock %}
