{% extends "CoreBundle:Index:layout.html.twig" %}

{% block title %}Crédits – {{ parent() }}{% endblock %}

{% block index_body %}
	<h1>Welcome to the Credits page</h1>
	<hr>
	<ul class="list-group">
		<li class="list-group-item">
			<a href="http://getbootstrap.com">Bootstrap</a> pour leur framework CSS
		</li>
		<li class="list-group-item">
			<a href="#">Glyphicons</a> pour les icones
		</li>
		<li class="list-group-item">
			<a href="#">Symfony</a> pour le framework PHP
		</li>
		<li class="list-group-item">
			<a href="#">XXX</a> pour l'hébergement du site
		</li>
	</ul>
{% endblock %}
