{% extends "CoreBundle:Index:layout.html.twig" %}

{% block title %}{{ 'index.credits.title'|trans }} – {{ parent() }}{% endblock %}

{% block index_body %}
	<h1>{{ 'index.credits.header'|trans }}</h1>
	<hr>
	<ul class="list-group">
		{% for id in 0..3 %}
			<li class="list-group-item">
				{{ ('index.credits.thanks.' ~ id)|trans|bbcode_filter('actus_filter') }}
			</li>
		{% endfor %}
	</ul>
{% endblock %}
