{% extends "CoreBundle:Index:layout.html.twig" %}

{% block title %}Liens utiles – {{ parent() }}{% endblock %}

{% block index_body %}
	<h1>Bienvenue sur la page des liens utiles</h1>
	<hr>
	<ul>
		<li><a href="http://caravane.sgdf.fr">Le site national des PiosK</a></li>
		<li><a href="http://sgdf.fr">Le site des Scouts et Guides de France</a></li>
	</ul>
{% endblock %}
