{% extends "CoreBundle:Index:layout.html.twig" %}

{% block title %}{{ 'index.terms.title'|trans }} – {{ parent() }}{% endblock %}

{% block index_body %}
	<h1>{{ 'index.terms.header'|trans }}</h1>
	<hr>
	<ul>
		{% for id in 0..4 %}
			<li>{{ ('index.terms.list.' ~ id)|trans}}</li>
		{% endfor %}
	</ul>
{% endblock %}
