<div id="templateDEFAULT">
	<div class="row groupe" id="groupe%id%" type="default"><!-- default -->
		<div class="form-group">
			<a class="pointer close col-lg-1" id="close%id%">x</a>
			<label for="input%id%" class="col-lg-2">Contient</label>
			<div class="col-lg-8">
				<input class="form-control" id="input%id%" value="%value%">
			</div>
			<div class="col-lg-1">
				<div class="btn-group">
					<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" id="edit%id%">
						<li class="dropdown-header">Modifier</li>
						<li class="active"><a value="default" class="pointer edit">Contient</a></li>
						<li><a value="quote" class="pointer edit">Contient exactement</a></li>
						<li><a value="site" class="pointer edit">Rechercher sur le site</a></li>
						<li><a value="inurl" class="pointer edit">Contient dans l'url</a></li>
						<li><a value="or" class="pointer edit">Ou</a></li>
						<li><a value="and" class="pointer edit">Et</a></li>
						<li><a value="not" class="pointer edit">Ne contient pas</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="templateQUOTE">
	<div class="row groupe" id="groupe%id%" type="quote"><!-- quote -->
		<div class="form-group">
			<a class="pointer col-lg-1 close" id="close%id%">x</a>
			<label for="input%id%" class="col-lg-2">Contient exactement</label>
			<div class="col-lg-8">
				<input class="form-control" id="input%id%" value="%value%">
			</div>
			<div class="col-lg-1">
				<div class="btn-group">
					<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" id="edit%id%">
						<li class="dropdown-header">Modifier</li>
						<li><a value="default" class="pointer edit">Contient</a></li>
						<li class="active"><a value="quote" class="pointer edit">Contient exactement</a></li>
						<li><a value="site" class="pointer edit">Rechercher sur le site</a></li>
						<li><a value="inurl" class="pointer edit">Contient dans l'url</a></li>
						<li><a value="or" class="pointer edit">Ou</a></li>
						<li><a value="and" class="pointer edit">Et</a></li>
						<li><a value="not" class="pointer edit">Ne contient pas</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="templateSITE">
	<div class="row quote" id="groupe%id%" type="site"><!-- site -->
			<div class="form-group">
				<a class="pointer col-lg-1 close" id="close%id%">x</a>
				<label for="input%id%" class="col-lg-2">Rechercher sur le site</label>
				<div class="col-lg-8">
					<input class="form-control" id="input%id%" value="%value%">
				</div>
				<div class="col-lg-1">
					<div class="btn-group">
						<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right" id="edit%id%">
							<li class="dropdown-header">Modifier</li>
							<li><a value="default" class="pointer edit">Contient</a></li>
							<li><a value="quote" class="pointer edit">Contient exactement</a></li>
							<li class="active"><a value="site" class="pointer edit">Rechercher sur le site</a></li>
							<li><a value="inurl" class="pointer edit">Contient dans l'url</a></li>
							<li><a value="or" class="pointer edit">Ou</a></li>
							<li><a value="and" class="pointer edit">Et</a></li>
							<li><a value="not" class="pointer edit">Ne contient pas</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>
<div id="templateINURL">
	<div class="row groupe" id="groupe%id%" type="inurl"><!-- inurl -->
		<div class="form-group">
			<a class="pointer col-lg-1 close" id="close%id%">x</a>
			<label for="input%id%" class="col-lg-2">Contient dans l'URL</label>
			<div class="col-lg-8">
				<input class="form-control" id="input%id%" value="%value%">
			</div>
			<div class="col-lg-1">
				<div class="btn-group">
					<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" id="edit%id%">
						<li class="dropdown-header">Modifier</li>
						<li><a value="default" class="pointer edit">Contient</a></li>
						<li><a value="quote" class="pointer edit">Contient exactement</a></li>
						<li><a value="site" class="pointer edit">Rechercher sur le site</a></li>
						<li class="active"><a value="inurl" class="pointer edit">Contient dans l'url</a></li>
						<li><a value="or" class="pointer edit">Ou</a></li>
						<li><a value="and" class="pointer edit">Et</a></li>
						<li><a value="not" class="pointer edit">Ne contient pas</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="templateOR">
	<div class="row groupe" id="groupe%id%" type="or"><!-- or -->
		<div class="form-group">
			<a class="pointer col-lg-1 close" id="close%id%">x</a>
			<label for="input%id%" class="col-lg-2">Ou</label>
			<div class="col-lg-8" id="input%id%">
				<!-- place content here -->
				<div class="row groupe" id="groupe%id2%" type="default"><!-- default -->
					<div class="form-group">
						<a class="pointer col-lg-1 close" id="close%id2%">x</a>
						<label for="input%id2%" class="col-lg-2">Contient</label>
						<div class="col-lg-8">
							<input class="form-control" id="input%id2%" value="%value%">
						</div>
						<div class="col-lg-1">
							<div class="btn-group">
								<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu pull-right" id="edit%id2%">
									<li class="dropdown-header">Modifier</li>
									<li class="active"><a value="default" class="pointer edit">Contient</a></li>
									<li><a value="quote" class="pointer edit">Contient exactement</a></li>
									<li><a value="site" class="pointer edit">Rechercher sur le site</a></li>
									<li><a value="inurl" class="pointer edit">Contient dans l'url</a></li>
									<li><a value="or" class="pointer edit">Ou</a></li>
									<li><a value="and" class="pointer edit">Et</a></li>
									<li><a value="not" class="pointer edit">Ne contient pas</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1">
				<div class="btn-group">
					<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right">
						<li class="dropdown-submenu">
							<a class="pointer">Modifier</a>
							<ul class="dropdown-menu" id="edit%id%">
								<li><a value="default" class="pointer edit">Contient</a></li>
								<li><a value="quote" class="pointer edit">Contient exactement</a></li>
								<li><a value="site" class="pointer edit">Rechercher sur le site</a></li>
								<li><a value="inurl" class="pointer edit">Contient dans l'url</a></li>
								<li class="active"><a value="or" class="pointer edit">Ou</a></li>
								<li><a value="and" class="pointer edit">Et</a></li>
								<li><a value="not" class="pointer edit">Ne contient pas</a></li>
							</ul>
						</li>
						<li class="dropdown-submenu">
							<a class="pointer">Ajouter un élément</a>
							<ul class="dropdown-menu" id="add%id%">
								<li><a value="default" class="pointer add">Contient</a></li>
								<li><a value="quote" class="pointer add">Contient exactement</a></li>
								<li><a value="site" class="pointer add">Rechercher sur le site</a></li>
								<li><a value="inurl" class="pointer add">Contient dans l'url</a></li>
								<li><a value="or" class="pointer add">Ou</a></li>
								<li><a value="and" class="pointer add">Et</a></li>
								<li><a value="not" class="pointer add">Ne contient pas</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="templateAND">
	<div class="row groupe" id="groupe%id%" type="and"><!-- and -->
		<div class="form-group">
			<a class="pointer col-lg-1 close" id="close%id%">x</a>
			<label for="input%id%" class="col-lg-2">Et</label>
			<div class="col-lg-8" id="input%id%">
				<!-- place content here -->
				<div class="row groupe" id="groupe%id2%" type="default"><!-- default -->
					<div class="form-group">
						<a class="pointer col-lg-1 close" id="close%id2%">x</a>
						<label for="input%id2%" class="col-lg-2">Contient</label>
						<div class="col-lg-8">
							<input class="form-control" id="input%id2%" value="%value%">
						</div>
						<div class="col-lg-1">
							<div class="btn-group">
								<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu pull-right" id="edit%id2%">
									<li class="dropdown-header">Modifier</li>
									<li class="active"><a value="default" class="pointer edit">Contient</a></li>
									<li><a value="quote" class="pointer edit">Contient exactement</a></li>
									<li><a value="site" class="pointer edit">Rechercher sur le site</a></li>
									<li><a value="inurl" class="pointer edit">Contient dans l'url</a></li>
									<li><a value="or" class="pointer edit">Ou</a></li>
									<li><a value="and" class="pointer edit">Et</a></li>
									<li><a value="not" class="pointer edit">Ne contient pas</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1">
				<div class="btn-group">
					<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right">
						<li class="dropdown-submenu">
							<a class="pointer">Modifier</a>
							<ul class="dropdown-menu" id="edit%id%">
								<li><a value="default" class="pointer edit">Contient</a></li>
								<li><a value="quote" class="pointer edit">Contient exactement</a></li>
								<li><a value="site" class="pointer edit">Rechercher sur le site</a></li>
								<li><a value="inurl" class="pointer edit">Contient dans l'url</a></li>
								<li><a value="or" class="pointer edit">Ou</a></li>
								<li class="active"><a value="and" class="pointer edit">Et</a></li>
								<li><a value="not" class="pointer edit">Ne contient pas</a></li>
							</ul>
						</li>
						<li class="dropdown-submenu">
							<a class="pointer">Ajouter un élément</a>
							<ul class="dropdown-menu" id="add%id%">
								<li><a value="default" class="pointer add">Contient</a></li>
								<li><a value="quote" class="pointer add">Contient exactement</a></li>
								<li><a value="site" class="pointer add">Rechercher sur le site</a></li>
								<li><a value="inurl" class="pointer add">Contient dans l'url</a></li>
								<li><a value="or" class="pointer add">Ou</a></li>
								<li><a value="and" class="pointer add">Et</a></li>
								<li><a value="not" class="pointer add">Ne contient pas</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="templateNOT">
	<div class="row groupe" id="groupe%id%" type="not"><!-- not -->
		<div class="form-group">
			<a class="pointer col-lg-1 close" id="close%id%">x</a>
			<label for="input%id%" class="col-lg-2">Ne contient pas</label>
			<div class="col-lg-8">
				<input class="form-control" id="input%id%" value="%value%">
			</div>
			<div class="col-lg-1">
				<div class="btn-group">
					<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" id="edit%id%">
						<li class="dropdown-header">Modifier</li>
						<li><a value="default" class="pointer edit">Contient</a></li>
						<li><a value="quote" class="pointer edit">Contient exactement</a></li>
						<li><a value="site" class="pointer edit">Rechercher sur le site</a></li>
						<li><a value="inurl" class="pointer edit">Contient dans l'url</a></li>
						<li><a value="or" class="pointer edit">Ou</a></li>
						<li><a value="and" class="pointer edit">Et</a></li>
						<li class="active"><a value="not" class="pointer edit">Ne contient pas</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
