{% extends 'CoreBundle:Chefs:layout.html.twig' %}

{% block chefs_body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>Bienvenue sur cette partie du site réservée aux chefs.</p>
			<p>D'ici vous pouvez:</p>
			<ul>
				<li>
					<a href="{{ path('core_chefs_send_email') }}">
						Envoyer des e-mails aux utilisateurs du site
					</a>
				</li>
				<li>
					<a href="{{ path('fos_user_group_list') }}">
						Voir et modifier les équipes
					</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}