{% extends 'CoreBundle::layout.html.twig' %}

{% block title %}{{ 'chefs.layout.title'|trans }} – {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ 'chefs.layout.header'|trans }}</h2>
	{% block chefs_body %}
	{% endblock chefs_body %}
{% endblock %}