{% extends 'CoreBundle:Chefs:layout.html.twig' %}

{% block title %}{{ 'chefs.send_email.title'|trans }} – {{ parent() }}{% endblock %}

{% block chefs_body %}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ 'chefs.send_email.header'|trans }}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 well">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}
