{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% block title %}Animation ‒ {{ parent() }}{% endblock %}

{% block resp_body %}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Responsable Animation</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				{# description de la responsabilité #}
				Si quelqu'un sait mettre de l'ambiance, c'est bien toi ! Tu es responsable des jeux, des chants, des veillées et de tous les moments de détente. Tu participes à l'animation de ces temps mais surtout tu fournis le matériel nécessaire, approvisionne en idées nouvelles, invites chacun à exprimer ses talents.
			</p>
			<h5>Le matériel d'animation</h5>
			<p>
				Gérer et compléter tout ce dont la caravane a besoin pour s'amuser et se détendre : carnets de chants, livres de jeux, malle déguisement, maquillage, matériel de jeu de jonglage, etc.<br>
				De nombreuses ressources sont disponibles dans les livres et sur internet. À toi de faire le bon choix. Place à l'imagination, tu peux aussi inventer !
			</p>
			<h5>Talents et compétences</h5>
			<p>
				Connaître les compétences d'animation et les talents de chacun : musiciens, artistes, dessinateurs... et savoir les utiliser pour les temps d'animation de la caravane (veillées, jeux, messes, etc.)
			</p>
			<ul class="list-group">
				{# liste des pages du site utiles #}
				{#<a href="#" class="list-group-item"></a>#}
			</ul>
		</div>
	</div>
{% endblock %}
