{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% trans_default_domain 'ResponsabilitesBundle' %}

{% block title %}{{ 'budget.extra_job.add.title'|trans }} – {{ parent() }}{% endblock %}

{% block resp_body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h3>{{ 'budget.extra_job.add.header'|trans }}</h3>
			<div class="well">
				{{ form(form) }}
			</div>
		</div>
	</div>
{% endblock %}
