{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% block title %}Budget -- {{ parent() }}{% endblock %}

{% block resp_body %}
  <div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Responsable budget</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				{# description de la responsabilité #}
				Tu as pour mission de faire en sorte que la caravane et les équipes disposent du budget nécessaire à la réalisation de leurs activités. Pour cela, tu établis un budget et veilles à ce que tous le respectent. En fonction du projet ou des activités choisis, tu coordonne la recherche de fonds.
			</p>
			<h5>Budget</h5>
			<p>
				En lien avec les autres responsables et en concertation avec la maîtrise, prévoir le budget de la caravane sur les activités d'années et pour le camp : suivi des comptes, achats de matériel, participation financière...
			</p>
			<h5>Recherche de fonds</h5>
			<p>
				Avec l'appui d'adultes et en lien avec le responsable communication, rédiger des demandes d'aides pour des projets précis en évaluant les moyens nécessaires.<br>
				Soliciter des administrations, entreprises, personnes, associations, susceptibles d'être intéressées par le projet.<br>
				Organiser et assurer le suivi des extra-jobs (planning, contacts...). Veiller à ce que les extra-jobs ne prennent pas trop d'emprise sur la vie de la caravane.
			</p>
			<ul class="list-group">
				<a href="{{ path('responsabilites_budget_extra_job_view') }}">Extra jobs</a>
				{% if is_granted('ROLE_CHEF_EQUIPE') or is_granted('ROLE_BUDGET') %}
					<a href="{{ path('responsabilites_budget_extra_job_add') }}">Enregistrer un nouvel extra job</a>
				{% endif %}
			</ul>
		</div>
		<div class="col-lg-2 alert alert-danger">
			L'argent n'est pas un but en soi, il est le moyen du projet et des activités de la caravane.<br>
			<strong>La caravane ne recherche pas de fonds si elle n'a pas de projet concret</strong>
		</div>
  </div>
{% endblock %}
