{% extends 'ResponsabilitesBundle::layout.html.twig' %}

{% block title %}Budget -- {{ parent() }}{% endblock %}

{% block resp_body %}
  <div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Responsable budget</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				{# description de la responsabilité #}
			</p>
			<ul class="list-group">
				{# liens vers les pages de la responsabilité #}
			</ul>
		</div>
  </div>
{% endblock %}
